option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
    PYTHONPATH: /var/app/current

commands:
  01_ignore_healthcheck:
    command: "grep -v '^/health' /etc/nginx/conf.d/elasticbeanstalk_resources.conf > /tmp/nginx.conf && mv /tmp/nginx.conf /etc/nginx/conf.d/elasticbeanstalk_resources.conf"
    ignoreErrors: true
